@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html{
    
    font-family: 'Nunito', sans-serif;
}
/* width = Ancho de la barra de scroll lateral */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track = Color del canal de desplazamiento de la barra lateral*/
::-webkit-scrollbar-track {
    background: rgb(23, 23, 23);
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #9f3647;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:#9f3647;
}
ul,li,ol {
    list-style: none;
}
a {
    text-decoration: none;
}

body{
    background-color: #181419;
    color:white;

}

/*ESTILOS PARA EL HEADER */

.header{
    background-color:#9f3647;
    color:#ffffff;
    height: 10vh;
    position:sticky;
    top: 0;
    z-index:10; 

}
.navegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:40px;
    margin-right: 40px;
    padding:1.5rem 0;
    
}
.anclaLogo{
    font-size: 1.2rem;
    color:#ffffff;;
    font-weight: 700;
    
}
.anclaLogo:hover{
    animation: bamboleo 0.25s infinite;
}
@keyframes bamboleo {
    0% {transform:translate (0,0)rotate(0deg);}
    25% {transform: translate(5px,5px) rotate(5deg);}
    50% {transform: translate(0,0) rotate(0deg);}
    75% {transform: translate(-5px,5px) rotate(-5deg);}
    100% {transform: translate(0,0) rotate(0deg);}
}

.listaNav{
    display: flex;
    align-items: center;
    
}
.listaItem{
    margin-right:20px;
}
.linkNav{
    font-size: 1.1rem;
    font-weight: 500;
    color: #FFFF;
    border-radius: 5px;
    padding:0.5rem 1rem;
    transition: transform 0.3s, box-shadow 0.3s;
}
.linkNav:hover {
    background-color: #750a0a;
    transform: scale(0.95);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.linkNav.iniciarSesion{
    background-color:#181419 ;
    color:white;
    transition: transform 0.3s, box-shadow 0.3s;
}
.linkNav.iniciarSesion:hover{
    background-color: #9f3647; 
    transform: scale(0.95);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }


/*  SECCION BANNER TEXTO PRINCIPAL */
    
.sectionPrincipal{
    background:linear-gradient(to right top, #0000008a, #0000008a), url(/assets/img/banner-bg.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:90vh;
    background-size: cover;
    background-position: center;
    text-align:center;
    color: #FFFF;
    
}
    
.tituloPrincipal{
    font-size:3.8rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.subtituloPrincipal{
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 2rem;
}
.botonRegistrarse{
    font-size: 1.2rem;
    background-color: #9f3647;
    padding: 1rem 2rem;
    border-radius: 5px;
    color: #FFFF;
    font-weight: 700;
    transition: transform 0.3s, box-shadow 0.3s;

}
.botonRegistrarse:hover{
    background-color: #9f3647;
    transform: scale(0.95);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

/* SECCION DEL BUSCADOR DE PELICULAS */

.buscadorPrincipal{
    background-color: #181419;
    color:white;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 290px;
}
.tituloSection{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.buscadorPeliculas{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 1rem;
}
.inputBuscador{
    border: 2px solid white;
    border-radius: 25px;
    color: #ffffff;
    font-size: 1.2rem;
    height: 50px;
    margin: 20px 0px;
    outline: none;
    padding: 0px 20px;
    width: 500px;
}
.botonBuscador{
    
    background-color:#9f3647;
    display: inline-block;
    height: 50px;
    margin: 20px 10px;
    padding:0 20px;
    border-radius: 25px;
    font-size: 1.2rem;
    font-weight: 700;
    border: 2px solid white;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}
.botonBuscador:hover{
    background-color: #9f3647;
    transform: scale(0.95);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

/*  SECCION DE PELICULAS TENDENCIAS  */

.peliculasTendencia{
    width:80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
}
.tituloSection{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 40px;
}
.peliculas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:60px;
    
    
}
a{
    text-decoration: none;
    color: #ffffff;
    .pelicula{
        width:200px;
        height: 300px;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        transition: all 0.5s ease;
       
        .imgTendencia{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
      
        .tituloPelicula{
            z-index: 2;
            position: absolute;
            text-align: center;
            top: 50%;
            left: 50%;
            max-width: 20rem;
            width: 100%;
            transform: translateY(-50%) translateX(-50%);
            h4 {
                font-size: 2rem;
                font-weight: bold;
                opacity: 0;
                margin-bottom: 0.5rem;
                letter-spacing: 0.1rem;
                transition: opacity 0.5s ease-in-out;

            }
        }
        &:hover{
           box-shadow: 0 0 30px #9f3648cd;
           transform: scale(1.1);
          
        }
        &:hover h4 {
            opacity: 1;
          
        }
        &:hover::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            background-color: #9f3648; /* Color rojo transparente */
            z-index: 1; /* Para asegurarse de que esté sobre la imagen */
        }
    }
}

/*  ESTILOS A LOS BOTONES DE ANTERIOR Y SIGUIENTE  SECCION PELICULAS TENDENCIAS */

.boton{
    border: 1px solid white;
    box-sizing: content-box;
    margin-top:50px;
    margin-left:20px;
    background-color:#9f3647;
    color: #ffffff;
    padding: 1rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom:60px;
    transition: transform 0.3s, box-shadow 0.3s;  /* Agregar efecto de botón presionado */
}
.boton:hover{
    background-color: #9f3647;
    transform: scale(0.95);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

/*  ESTILOS A LA SECCION DE PELICULAS ACLAMADAS  */

.peliculasAclamadas{
    width:80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom:60px;
}
.tituloSection{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 40px;
}
.aclamadas{
    overflow-x: scroll;  /* Coloca visible la barra horizontal de scroll */
    overflow-y: hidden;  /* Esconde la barra de scroll vertical */
    width: 100%;
    display: flex;
    justify-content: flex-start;  /* Alinea los items = peliculas flex desde el comienzo a lo largo de la linea horizontal */
    align-items: flex-start;
    padding: 0px 0px 40px 0px;
}
.peliculaItem{
    border-radius: 25px;
    width: 170px;
    min-width: 170px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.imgAclamada{
    border-radius: 5%;
    width: 95%;
    height: 95%;
    object-fit: cover;
}

/*  ESTILOS DEL FOOTER  */

.footer{
    background-color:#9f3647;
    color:#ffffff;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.listaNav{
    display: flex;
    align-items: center;
}
.listaItem{
    margin-left:20px;
}
.linkNav{
    color:#ffffff;
    font-weight: 700;
    font-size: 1.2rem;
}
.administradorPeliculas{
    background-color: #181419;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}
.flechaArriba{
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    cursor: pointer;
}

/*  ESTILOS PARA EL FORMULARIO DE REGISTRO  */

.bodyRegistrarse{
    height: 90vh;
    background:linear-gradient(to right top, #24242473,#24242473),url("../assets/img/bg-register.jpg");
    background-size: cover;
    background-position: center;
}
.headerRegistrarse{
    color:#ffffff;
    height: 8vh;
    padding:30px;
    }
.anclaLogo{
    color: #ffffff;
    font-weight: 700;
    font-size: 1.2rem;
   

    }
             
.anclaLogo:hover{
    animation: ondulado 0.25s infinite;
    }
    
    

    
         /*seccion de registrarse.html*/
.seccionRegistrarse{
    background-color:rgb(42, 42, 42);
    width: 30%;
    margin:30px auto;
    border-radius: 5px;
    padding: 40px 20px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-size:1.2rem;
}
.tituloRegistrarse{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}
            /*seleccionar todos los input menos el checkbox*/
form{
    width: 100%;
    padding:40px;
}
input:not(.check,.botonRegistro),select{
    width: 100%;
    margin-bottom: 10px;
    height: 45px;
    padding: 0px 20px;
    font-size: 1.2rem;
    border-radius: 20px;
    border: 2px solid #9f3647;
    background-color: #333333;
    outline: none;
    color:rgb(255, 255, 255);
 }
 .botonRegistro{
    width: 87%;
    box-sizing: content-box;
    background-color:#9f3647;
    border: 2px solid #9f3647;
    color: #ffffff;
    padding: 1rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    transition: transform 0.3s, box-shadow 0.3s;
   
}
.botonRegistro:hover{
    background-color: #9f3647;
    transform: scale(0.95);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
.terminos{
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.textoCheck{
    margin-left: 10px;
}
            
.ayuda{
    margin-top:80px;
    font-size: 1rem;
    text-decoration: none;
    color: #787878;
    font-weight:400;
                   
}
        
           
    
   
    



    





